/* .App {
  text-align: center;
} */

/* https://getbootstrap.com/docs/5.2 */
.blog-contents-container {
  padding-top: 40px;
  padding-bottom: 60px;
}
.blog-contents-container .row a {
  text-decoration: none;
}
.blog-contents-container .row h2 a {
  color: #353535;;
}
.blog-contents-container .row h6 a {
  font-size: smaller;
  font-weight: 500;
  line-height: 200%;
}
